html,
body {
  margin: 0;
  background-color: #cdcdcd;
  font-family: 'RobotoDraft', sans-serif;
  position: absolute;
  height: 100%;
  width: 100%;
}
core-header-panel {
  height: 100%;
}
core-toolbar {
  background: #03a9f4;
  color: #fff;
}
paper-tabs {
  width: 100%;
}
polymer-ui-toolbar {
  width: 100%;
}
.container {
  width: 80%;
  margin: 50px auto;
  width: 400px;
}
.viewframe {
  width: 350px;
  height: 700px;
}
@media (min-width: 481px) {
  paper-tabs {
    width: 200px;
  }
}
